/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  color: $brand-color;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-dark;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-dark;
  border-radius: 3px;
  background-color: #223; // old: #eef // 223
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

span.highlight {
  color: $link-color;
}


/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-dark;
  tr {
    &:nth-child(even) {
      background-color: darken($grey-color-dark, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: darken($grey-color-dark, 3%);
    border: 1px solid lighten($grey-color-dark, 4%);
    border-bottom-color: lighten($grey-color-dark, 12%);
  }
  td {
    border: 1px solid $grey-color-dark;
  }
}


/**
* Spell icons
*/

a.spell_link {
  color: $link-color !important;
  padding-left: 18px !important;
}

a.spell_link.abdomen_tear {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/abdomen_tear.png') left center no-repeat;
}

a.spell_link.arms_length {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/arms_length.png') left center no-repeat;
}

a.spell_link.aurora {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/aurora.png') left center no-repeat;
}

a.spell_link.blasting_zone {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/blasting_zone.png') left center no-repeat;
}

a.spell_link.bloodfest {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/bloodfest.png') left center no-repeat;
}

a.spell_link.bow_shock {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/bow_shock.png') left center no-repeat;
}

a.spell_link.brutal_shell {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/brutal_shell.png') left center no-repeat;
}

a.spell_link.burst_strike {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/burst_strike.png') left center no-repeat;
}

a.spell_link.camouflage {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/camouflage.png') left center no-repeat;
}

a.spell_link.cartridge_charge {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/cartridge_charge.png') left center no-repeat;
}

a.spell_link.continuation {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/continuation.png') left center no-repeat;
}

a.spell_link.danger_zone {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/danger_zone.png') left center no-repeat;
}

a.spell_link.danger_zone_mastery {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/danger_zone_mastery.png') left center no-repeat;
}

a.spell_link.demon_slaughter {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/demon_slaughter.png') left center no-repeat;
}

a.spell_link.demon_slice {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/demon_slice.png') left center no-repeat;
}

a.spell_link.enhanced_brutal_shell {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/enhanced_brutal_shell.png') left center no-repeat;
}

a.spell_link.eye_gouge {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/eye_gouge.png') left center no-repeat;
}

a.spell_link.fated_circle {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/fated_circle.png') left center no-repeat;
}

a.spell_link.gnashing_fang {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/gnashing_fang.png') left center no-repeat;
}

a.spell_link.heart_of_light {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/heart_of_light.png') left center no-repeat;
}

a.spell_link.heart_of_stone {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/heart_of_stone.png') left center no-repeat;
}

a.spell_link.interject {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/interject.png') left center no-repeat;
}

a.spell_link.jugular_rip {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/jugular_rip.png') left center no-repeat;
}

a.spell_link.keen_edge {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/keen_edge.png') left center no-repeat;
}

a.spell_link.lightning_shot {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/lightning_shot.png') left center no-repeat;
}

a.spell_link.low_blow {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/low_blow.png') left center no-repeat;
}

a.spell_link.nebula {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/nebula.png') left center no-repeat;
}

a.spell_link.no_mercy {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/no_mercy.png') left center no-repeat;
}

a.spell_link.provoke {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/provoke.png') left center no-repeat;
}

a.spell_link.rampart {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/rampart.png') left center no-repeat;
}

a.spell_link.reprisal {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/reprisal.png') left center no-repeat;
}

a.spell_link.rough_divide {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/rough_divide.png') left center no-repeat;
}

a.spell_link.royal_guard {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/royal_guard.png') left center no-repeat;
}

a.spell_link.savage_claw {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/savage_claw.png') left center no-repeat;
}

a.spell_link.shirk {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/shirk.png') left center no-repeat;
}

a.spell_link.solid_barrel {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/solid_barrel.png') left center no-repeat;
}

a.spell_link.sonic_break {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/sonic_break.png') left center no-repeat;
}

a.spell_link.superbolide {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/superbolide.png') left center no-repeat;
}

a.spell_link.tank_mastery {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/tank_mastery.png') left center no-repeat;
}

a.spell_link.wicked_talon {
  background: url('https://slander-man.github.io/gunbreaking/assets/img/spellicon/small/wicked_talon.png') left center no-repeat;
}