---
layout: default
---
<template id="tt">
  <div style='text-align:left'>
    <strong id=tt_name style="color:cyan;">Spell Name</strong>
    <br>
    <span id="tt_cast" style="float:left">Cast: Instant</span> <span id="tt_cd" style="float:right">Recast: (GCD)</span>
    <br>
    <p id="tt_desc"></p>
  </div>
</template>
<article class="post">

  <header class="post-header">
    <h1 name="post-title">{{ page.title | escape }}</h1>
    {%- if page.last_update or page.game_version -%}
      <p class="post-meta">
        {%- if page.last_update -%}
          <time class="dt-updated" datetime="{{ page.last_update | date_to_xmlschema }}" itemprop="dateUpdated">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            Last update on {{ page.last_update | date: date_format }}
          </time>
        {%- endif -%}
        {%- if page.last_update and page.game_version -%}
          <span name="devider">•&nbsp;</span>
        {%- endif -%}
        {%- if page.game_version -%}
          Patch <span itemprop="game_version">{{ page.game_version }}</span>
        {%- endif -%}
      </p>
    {%- endif -%}
  </header>

  <div class="post-content">
    {%- include side_menu.html -%}
    {%- if page.toc == true -%}
      <h3>Table of Contents</h3>
      {%- include toc.html html=content class="toc" h_max=3 -%}
      <hr>
      <br>
    {%- endif -%}
    {{ content }}
  </div>

</article>
